body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#startPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#startPage h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30%;
}

#start {
    border: none;
    font-size: 2rem;
    background-color: black;
    color: white;
    padding: 5% 2%;
    width: 25vw;
}

canvas {
    width: auto;
    height: 95%;
}

#restartPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50vh;
    z-index: 6;
}

#restart {
    border: none;
    font-size: 2rem;
    background-color: black;
    color: white;
    padding: 5% 2%;
    width: 25vw;
    
}

#options-info {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9;
    top: -92vh;
    right: -12vw;
    width: 10vw;
    height: 2vh;
    
}

#mute-button {
    border: none;
    background-color: black;
    filter: brightness(0.5);
}

#mute-button img {
    height: auto;
    width: 90%;
}

#pause-button {
    border: none;
    background-color: black;
    filter: brightness(0.5); 
}

#pause-button img {
    height: auto;
    width: 60%; 
}

